body {
  background-color: #EBEBE3;
  color: #2B2B28
}
h1 {
  font-size: 24px;
}
h2 {
  margin-top: 2rem;
  font-size: 20px;
  border-bottom: solid 3px #C19898;
}

.header {
  background-color: #4A4A48;
  height: 44px;
  padding: 5px;
}
.header > .logo {
  margin: auto;
}
.header > .logo > img {
  width: 120px;
  height: 36px;
}

.article .content-header {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.article .content-header .timestamp {
  font-family: Courier, serif;
}

.article .content-header .tag {
  text-align: right;
  font-family: Courier, serif;
}

.article .content-header .tag span {
  padding: 2px 5px;

  border-radius: 5px;

}

.article .content-header .tag span.green {
  border: thin solid #4F664A;
  color: #4F664A
}

.article .content-header .tag span.blue {
  border: thin solid #4a5466;
  color: #4a5466
}

.article .content-header .tag span.red {
  border: thin solid #664A4A;
  color: #664A4A
}

.article .character {
  font-weight: bold;
}
.article .character.green {
  color: #4F664A;
}
.article .character.blue {
  color: #4a5466;
}

.article .picture {
  width: 100%
}

.article .video {
  margin-top: 20px;
  margin-bottom: 20px;
}

.article .video > iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
